# this is a systemd service, to be put in /usr/lib/systemd/system
# and enabled with 'sudo systemctl enable giskard-docker-start-service' 
[Unit]
Description=Docker Compose Giskard starter
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/home/ec2-user
Type=oneshot
RemainAfterExit=yes

ExecStartPre=-/bin/bash -c "/bin/curl -f 'https://raw.githubusercontent.com/Giskard-AI/giskard/main/docker-compose.ami.yml' -o docker-compose.ami.yml"
ExecStartPre=-/bin/bash -c "/bin/curl -f 'https://raw.githubusercontent.com/Giskard-AI/giskard/main/docker-compose.yml' -o docker-compose.yml"
ExecStartPre=-/usr/local/bin/docker-compose pull --quiet
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml -f docker-compose.ami.yml up -d

ExecStartPost=/bin/bash -c "echo 'Pruning docker images...'"
ExecStartPost=-/usr/local/bin/docker image prune -f

ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target