plugins:
  - prettier-plugin-java
# Prettier configuration

printWidth: 120
singleQuote: true
tabWidth: 4
useTabs: false

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
bracketSameLine: false

# java rules:
overrides:
  - files: "*.java"
    options:
      tabWidth: 4
