# ===================================================================
# Spring Boot configuration for the "dev" profile.
#
# This configuration overrides the application.yml file.
#
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

logging:
  level:
    ROOT: INFO
    org.hibernate.SQL: INFO
    ai.giskard: INFO
    com.zaxxer.hikari.HikariConfig: INFO
    com.zaxxer.hikari: INFO

spring:
  devtools:
    restart:
      enabled: true
      additional-exclude: static/**
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: "jdbc:h2:file:${giskard.home}/database/giskard;AUTO_SERVER=TRUE"
    hikari:
      poolName: Hikari
      auto-commit: false
      maximum-pool-size: 8
      minimum-idle: 10
      connection-timeout: 20000
      leak-detection-threshold: 10000
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
  liquibase:
    # Remove 'faker' if you do not want the sample data to be loaded automatically
    contexts: dev, faker
  mail:
    host:
    port:
    username:
    password:
  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false
  sleuth:
    sampler:
      probability: 1 # report 100% of traces
  zipkin: # Use the "zipkin" Maven profile to have the Spring Cloud Zipkin dependencies
    base-url: http://localhost:9411
    enabled: false
    locator:
      discovery:
        enabled: true

server:
  port: 9000

giskard:
  home: ${user.home}/giskard-home
  # Generate a random key using the following command: openssl rand -base64 64
  base64-jwt-secret-key: 2ik6cM0kPIe/sbCnTqFB+6WIuPb7Ts87VhBugex2AjA=
  cors:
    allowed-origins: '*'
    allowed-methods: '*'
    allowed-headers: '*'
    allow-credentials: false
    max-age: 1800

