/* Imports */
@import "_highlight_theme.css";
@import "_highlightjs_copy.css";

/* Main styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


p a {
    text-decoration: underline;
}

/* Special styles for tab headers */
.tab-header {
    min-width: 3rem;
}

.active.tab-header {
    min-width: fit-content;
}

/* Pandas DataFrame table */
table.dataframe {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.dataframe tr {
    border-bottom: 1px solid #555;
}

.dataframe td,
.dataframe th {
    padding: 0.5rem;
}

.dataframe th {
    text-align: left !important;
}

.prose p {
    @apply my-1;
}

.prose ul {
    @apply list-disc ml-4 my-1;
}