ai-inspector==0.1.2
alibi==0.7.0
altair==4.2.0
api-client==1.3.1
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.0
blis==0.7.7
catalogue==1.0.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.4
coverage==6.4.1
cryptography==36.0.2
cycler==0.11.0
cymem==2.0.6
dataclasses==0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
eli5==0.13.0
entrypoints==0.4
fastjsonschema==2.15.3
filelock==3.7.1
fonttools==4.33.3
giskard==1.0.0a1
giskard-client==0.1.2
googleapis-common-protos==1.56.2
graphviz==0.20
great-expectations==0.15.8
grpcio==1.46.3
grpcio-status==1.46.3
grpcio-tools==1.46.3
huggingface-hub==0.7.0
idna==3.3
imageio==2.19.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
iniconfig==1.1.1
ipykernel==6.13.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.6.0
jupyter-client==7.3.2
jupyter-core==4.10.0
jupyter-http-over-ws==0.0.8
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
langcodes==3.3.0
llvmlite==0.38.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==2.0.2
murmurhash==1.0.7
mypy-protobuf==3.2.0
nbconvert==5.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
notebook==6.4.11
numba==0.55.2
numpy==1.22.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pip==22.0.3
plac==1.1.3
pluggy==1.0.0
preshed==3.0.6
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.1
ptyprocess==0.7.0
py==1.11.0
pycparser==2.21
pydantic==1.9.1
Pygments==2.12.0
pyparsing==2.4.7
pyrsistent==0.18.1
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
python-dotenv==0.17.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.1.0
regex==2022.6.2
requests==2.27.1
requests-toolbelt==0.9.1
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
setuptools==60.6.0
setuptools-scm==6.4.2
shap==0.40.0
six==1.16.0
slicer==0.0.7
smart-open==5.2.1
soupsieve==2.3.2.post1
spacy==2.3.7
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy-lookups-data==0.3.2
srsly==1.0.5
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
terminado==0.15.0
testpath==0.6.0
thinc==7.4.5
threadpoolctl==3.1.0
tifffile==2021.11.2
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
transformers==4.19.2
typer==0.4.1
types-protobuf==3.19.21
types-requests==2.27.30
types-urllib3==1.26.15
typing-extensions==3.10.0.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
wasabi==0.9.1
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.37.1
widgetsnbextension==3.6.0
zipp==3.8.0
zstandard==0.15.2
