body{
  background: #18181B;
}

.main{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  color: #ffffff;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  background: #27272A;
  padding: 10px;
  margin: 0px;
  border: 1px solid #6b7280;}

.extended-title{
  width:100%;
}

.overview-side{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px;
  flex: auto;
  align-items: center;
  margin: 0 15px;
  border: 1px solid #27272A;
}

#gsk-overview{
  display:flex;
}

h4 {
  font-size: 1rem;
  background: #27272A;
  padding: 10px;
  margin: 0px;
  border-bottom: 1px solid #6b7280;
}

h2 {
  font-size: 1.5rem;
  margin-top: 3px;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > * {
  margin-inline: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  padding:10px;
  border: 1px solid #27272A;
}

.flex-row>div {
  flex: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

progress[value] {
  /* the progress color */
  --background: lightgrey;
  /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 200px;
  height: 20px;
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 20px 0;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #27272A;
  background-color: #27272A;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #ffffff;
  font-size:1.2rem;
}

.tab div {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #ffffff;
  font-size: 1.2rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #18181B;
}

.tab-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom:-5px;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #18181B;
  border-top: 1px solid #6b7280;
  border-bottom: 1px solid #18181B;
  border-left: 1px solid #6b7280;
  border-right: 1px solid #6b7280;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  background: #18181B;
  border: 1px solid #27272A;
  border-top: 1px solid #6b7280;
  margin-top: -2px;
}

#gsk-advice {
  display: flex;
  justify-content: center;
}

#recommendation {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #e1ce86;
  color: #27272A;
  width:95%;
  box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
}

.separator {
  margin: 20px 0;
  /* border-bottom: 1px solid #6b7280; */
}

.separator-border {
  margin: 20px 0;
  border-bottom: 1px solid #6b7280;
}

#gsk-rag{
  padding: 20px;
}

.correctness-indicator{
  padding: 20px;
  border-radius: 50px;
  font-size: 16pt;
  box-shadow: 0 4px 8px 0 #000000, 0 6px 20px 0 #000000;
}

.ragas-title{
  margin: -2px;
  border-bottom: none;
}

.hist-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  width: 85%;
}

.hist-row>div {
  flex: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#component-table{
  width:50%;
  margin-top: 10px;
}

.green{
  background-color: #0a980a;
}

.orange {
  background-color: #e5b62a;
}

.red {
  background-color: #ba0e0e;
}

.progress-green {
  --color: #0a980a;
}

.progress-orange {
  --color: #e5b62a;
}

.progress-red {
  --color: #ba0e0e;
}