@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
    --color-brand-content: #91f7c0;
}

body {
    font-family: "Inter", "Helvetica Neue", "Arial", "sans-serif";
    color: #484848;
    background: var(--color-background-primary);
}

.header__search {
    position: absolute;
    left: 1em;
    right: 1em;
    top: -5em;
    z-index: 30;
    transition: top 0.1s ease-in-out;
}

.admonition {
    border-left: none;
}

.header-logo {
    max-width: 160px;
}

.related-pages a svg, .related-pages a svg > use {
    color: var(--color-foreground-border);
    flex-shrink: 0;
    height: 0.75rem;
    margin: 0 0.5rem;
    width: 0.75rem;
}

.nbinput .prompt,
.nboutput .prompt {
    display: none;
}

.nbinput > .input_area {
    border: none !important;
}

.article-container a:not(.headerlink):not(.github-stars a):not(:hover) {
    color: var(--color-content-foreground);
}

.article-container a:not(.headerlink) {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

/* toc */
.toc-title {
    color: var(--color-toc-title);
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
}


@media (max-width: 67em) {
    .sidebar-container {
        width: 15em;
    }
}

@media (min-width: 67em) {
    .sidebar-container {
        width: 19em;
    }
}

.sidebar-tree li > ul {
    margin-left: 0;
}

.sidebar-tree li > ul a {
    padding-left: 1em;
}

.sidebar-tree .caption,
.sidebar-tree :not(.caption) > .caption-text {
    font-size: 22px;
    font-weight: normal;
    text-transform: none;
}

.sidebar-tree .reference {
    line-height: 1.8em;
    padding-left: 2em;
}

.sidebar-tree .reference:hover {
    font-weight: 600;
}

.sidebar-tree .current-page > .reference {
    font-weight: 600;
    color: var(--color-sidebar-current-text);
}

.sidebar-tree .toctree-l2 a {
    padding-left: 4em;
}

.sidebar-logo {
    max-width: 200px;
    margin: 1em auto 0 auto;
}

.sidebar-brand {
    margin: 0;
}

.sidebar-search-container {
    margin: 0 16px;
}

.sidebar-tree .reference.external:after {
    color: var(--color-sidebar-link-text--top-level);
}

.sidebar-search {
    border: 1px solid var(--color-sidebar-search-border);
    padding-left: 2.5em;
    border-radius: 3px;
    min-height: 40px;
}

.sidebar-search:focus {
    border: 1px solid var(--color-sidebar-search-border-focus);
}

.sidebar-search::placeholder {
    color: var(--color-search-placeholder);
    font-weight: 600;
}

.sidebar-scroll,
.toc-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar-scroll::-webkit-scrollbar,
.toc-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.sidebar-search-container:before {
    z-index: 12;
    background: var(--color-search-icon)
}

.sidebar__theme-toggle {
    display: none;
}

.sidebar-tree ul {
    margin-bottom: 1rem;
}

@media (max-width: 67em) {
    .sidebar__theme-toggle {
        display: block;
        position: absolute;
        z-index: 1;
        right: 1em;
        top: 0.4em;
    }

    .social {
        justify-content: center !important;
        margin: auto;
    }

    .social--sidebar {
        display: none !important;
    }

    .sidebar-search-container {
        display: none;
    }

    .open-in-colab__wrapper {
        display: none;
    }
}

@media (min-width: 67em) {
    .social--main {
        display: none !important;
    }

    .social--sidebar {
        margin-bottom: 1em;
        text-align: center;
        align-items: center;
        display: block !important;
    }

    .social--sidebar > * {
        margin: 3px 4px;
        vertical-align: middle;
    }

    .open-in-colab__wrapper {
        display: inline-flex;
        width: calc(100% - 40px);
        gap: 2px;
        justify-content: right;
        margin-top: 1.4em;
    }
}


/* github star counter */

.github-stars {
    display: inline-flex;
    align-items: center;
    color: var(--social-button-text);
}

.github-stars > a {
    padding: 3px 6px;
    text-decoration: none !important;
    min-height: 21px;
    font-size: 0.9rem;
}

.github-stars .--left {
    background: var(--color-brand-content);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--social-button-text);
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid;
    border-color: var(--color-brand-content);
}

.github-stars .--left:hover {
    background: var(--color-brand-content);
    border-color: var(--color-brand-content);
}

.github-stars .--right:hover {
    color: var(--color-brand-content);
    border-color: var(--color-brand-content);
    background: var(--social-button-text);
}

.github-stars .--right {
    background: var(--social-button-background);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--color-brand-content);
    border: 1px solid;
    border-color: var(--color-brand-content);
    display: flex;
    align-items: center;
}

/* Cards ! */

.sd-card {
    border-radius: 5px;
    margin-bottom: 1.5em;
    transition: box-shadow 0.2s ease-in;
    box-shadow: 0 var(--sd-color-shadow),
    1px 1px 6px rgba(0, 0, 0, 0.1) !important;
}

.sd-card-body {
    min-height: 150px;
}

.sd-card-title {
    font-size: 16px;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 16px;
    line-height: 1.8em;
}