
  RuntimeError

  Poetry could not find a pyproject.toml file in /Users/ggkk/projects or its parents

  at ~/.poetry/lib/poetry/_vendor/py3.7/poetry/core/factory.py:371 in locate
      367│ 
      368│         else:
      369│             raise RuntimeError(
      370│                 "Poetry could not find a pyproject.toml file in {} or its parents".format(
    → 371│                     cwd
      372│                 )
      373│             )
      374│ 
