<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org' th:lang='${#locale.language}' lang='en'>
<head>
  <title>Giskard invitation</title>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <link rel='icon' th:href='@{|${baseUrl}/favicon.ico|}' />
</head>
<body>
<p>Welcome to Giskard!</p>
<p><strong>[[${inviter}]]</strong> has invited you to sign up.</p>
<p>Please click on the button below to get started:</p>
<p>
  <a th:href="${inviteLink}" th:text="${inviteLink}">Login link</a>
</p>
<p>This link / button will expire in 72 hours.</p>
<p>
  <span th:text='#{email.activation.text2}'>Regards, </span>
  <br />
  <em th:text='#{email.signature}'>Giskard.</em>
</p>
</body>
</html>
