absl-py==1.2.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
alibi==0.7.0
altair==4.2.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.0
blis==0.7.7
CacheControl==0.12.11
cachetools==5.2.0
cachy==0.3.0
catalogue==1.0.0
catboost==1.0.6
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cleo==0.8.1
click==8.1.3
clikit==0.6.2
cloudpickle==2.1.0
colorama==0.4.4
coverage==6.4.2
crashtest==0.3.1
cryptography==36.0.2
cycler==0.11.0
cymem==2.0.6
Cython==0.29.32
datasets==2.4.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.5
dm-tree==0.1.7
docutils==0.17.1
eli5==0.13.0
entrypoints==0.4
etils==0.6.0
fastjsonschema==2.15.3
filelock==3.7.1
flatbuffers==1.12
fonttools==4.33.3
frozenlist==1.3.1
fsspec==2022.7.1
gast==0.4.0
gdown==4.5.1
gin-config==0.5.0
giskard==1.3.0
google-api-core==2.8.2
google-api-python-client==2.55.0
google-auth==2.9.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.2
graphviz==0.20
great-expectations==0.15.15
great-expectations-experimental==0.1.20220708068
grpcio==1.47.0
grpcio-status==1.46.3
grpcio-tools==1.46.3
h5py==3.7.0
html5lib==1.1
httplib2==0.20.4
huggingface-hub==0.7.0
idna==3.3
imageio==2.19.3
imagesize==1.4.1
importlib-metadata==4.11.4
importlib-resources==5.7.1
iniconfig==1.1.1
install==1.3.5
ipykernel==6.13.1
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.6.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyter-http-over-ws==0.0.8
jupyterlab-widgets==1.1.1
kaggle==1.5.12
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==22.3.0
kiwisolver==1.4.2
libclang==14.0.6
llvmlite==0.38.1
lockfile==0.12.2
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==2.0.2
mixpanel==4.9.0
msgpack==1.0.4
multidict==6.0.2
multiprocess==0.70.13
murmurhash==1.0.7
mypy-protobuf==3.2.0
nbconvert==5.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
nlpaug==1.1.11
nltk==3.7
notebook==6.4.12
numba==0.55.2
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python-headless==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pastel==0.2.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pip==22.2.1
pkginfo==1.8.3
plac==1.1.3
platformdirs==2.5.2
plotly==5.9.0
pluggy==1.0.0
poetry==1.1.13
poetry-core==1.0.8
portalocker==2.5.1
preshed==3.0.6
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
py==1.11.0
py-cpuinfo==8.0.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycparser==2.21
pydantic==1.9.1
Pygments==2.12.0
pylev==1.4.0
pyparsing==2.4.7
pyrsistent==0.18.1
PySocks==1.7.1
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
python-dotenv==0.17.1
python-slugify==6.1.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==23.1.0
qtconsole==5.3.1
QtPy==2.1.0
regex==2022.6.2
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
responses==0.18.0
rsa==4.9
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
sacrebleu==2.2.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
sentencepiece==0.1.96
seqeval==1.2.2
setuptools==62.6.0
setuptools-scm==6.4.2
shap==0.40.0
shellingham==1.4.0
six==1.16.0
slicer==0.0.7
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
spacy==2.3.7
spacy-lookups-data==0.3.2
Sphinx==5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==1.0.5
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-addons==0.17.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.9.0
tensorflow-model-optimization==0.7.3
tensorflow-text==2.9.0
termcolor==1.1.0
terminado==0.15.0
testpath==0.6.0
text-unidecode==1.3
tf-models-official==2.9.2
tf-slim==1.1.0
thinc==7.4.5
threadpoolctl==3.1.0
tifffile==2021.11.2
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.1
toolz==0.11.2
torch==1.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
transformers==4.21.1
typeguard==2.13.3
types-protobuf==3.19.21
types-requests==2.28.3
types-urllib3==1.26.16
typing-extensions==3.10.0.2
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.15.1
wasabi==0.9.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.1
wheel==0.37.1
widgetsnbextension==3.6.1
wrapt==1.14.1
xxhash==3.0.0
yarl==1.8.1
zipp==3.8.0
zstandard==0.15.2
