body {
  text-align: center;
  font-family: 'Poppins', serif;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: menulist-button;
  padding: 10px 20px;

  text-decoration: none;
  color: white;
  background-color: rgb(0, 151, 167);
}

.message {
  display: inline-block;
  background-color: #f3f3f3;
  border: solid 1px lightgrey;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 0;
}

tr {
  text-align: center;
}
