# This is a test workflow that is triggered on each push and PR

name: Build Docker images

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Generate docker config file
      run: |
        sudo sysctl -w kernel.unprivileged_userns_clone=1 \
        docker compose -f docker-compose.yml -f docker-compose.dev.yml config > docker-stack.yml 
      
    - name: Build Frontend image
      run: docker compose -f docker-stack.yml build frontend

    - name: Build Backend image
      run: docker compose -f docker-stack.yml build backend

    - name: Build ML Worker image
      run: docker compose -f docker-stack.yml build ml-worker

    - name: Remove containers and volumes
      run: docker compose -f docker-stack.yml down -v --remove-orphans
      
