name: Build
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Extract source branch name
        id: extract_source_branch
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_HEAD_REF})"

      - name: Print branch name
        shell: bash
        run: env
      - name: Print dependabot
        shell: bash
        run: echo ${{ startsWith(steps.extract_source_branch.outputs.branch, 'dependabot/') }}

      - uses: actions/checkout@v3.1.0
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.7'

      - name: Cache SonarQube packages
        uses: actions/cache@v3
        if: ${{ !startsWith(steps.extract_source_branch.outputs.branch, 'dependabot/') }}
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Cache Frontend dependencies
        uses: actions/cache@v3
        with:
          path: giskard-frontend/node_modules
          key: ${{ runner.os }}-frontend-${{ hashFiles('giskard-frontend/package-lock.json')}}
          restore-keys: ${{ runner.os }}-frontend

      - name: Build and analyze with sonar
        if: ${{ !startsWith(steps.extract_source_branch.outputs.branch, 'dependabot/') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: ./gradlew build jacocoTestReport sonarqube --info --parallel

      - name: Build and analyze without sonar
        if: ${{ startsWith(steps.extract_source_branch.outputs.branch, 'dependabot/') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: ./gradlew build --parallel