name: Build & Push dev images

on:
#  schedule:
#    - cron: '0 5 * * *'
  workflow_dispatch:

jobs:
  build-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.3.0

      - name: Set up Docker Buildx
        id: builder
        uses: docker/setup-buildx-action@master

      - name: "Append ARM buildx builder from AWS"
        uses: baschny/append-buildx-action@v1
        with:
          builder: ${{ steps.builder.outputs.name }}
          endpoint: ssh://${{ secrets.ARM_SSH_CONNECTION_STRING }}
          ssh_private_key: ${{ secrets.ARM_SSH_PRIVATE_KEY }}

      - name: Extract branch name
        shell: bash
        run: |
          BRANCH=${GITHUB_REF#refs/heads/}
          SANITIZED_BRANCH=${BRANCH//"/"/-}
          
          echo $BRANCH
          echo $SANITIZED_BRANCH
          
          echo "branch=$BRANCH" >> $GITHUB_OUTPUT
          echo "tag=$SANITIZED_BRANCH" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Login to Docker registry
        uses: docker/login-action@v2
        with:
          username: giskardai
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image based on the current branch
        env:
          IMAGE: docker.io/giskardai/giskard
        run: |
          docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --tag $IMAGE:${{ steps.extract_branch.outputs.tag }} \
          --file Dockerfile \
          --push \
          .

      - name: Invoke deployment hook
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        run: |
          curl -L --silent --max-time 900 ${{ secrets.TEST_SERVER_WEBHOOK_URL_BASE }}/redeploy-dev
