name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check if organization member
        id: is_organization_member
        uses: JamesSingleton/is-organization-member@1.0.1
        with:
          organization: Giskard-AI
          username: ${{ github.actor }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Ask to add the 'safe for build' label
        if: ${{ github.actor != 'dependabot[bot]' && !contains(github.event.*.labels.*.name, 'safe for build') && steps.is_organization_member.outputs.result == 'false' }}
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Please add the 'safe for build' label in order to perform the sonar analysis!

      - name: Interrupt job
        if: ${{ github.actor != 'dependabot[bot]' && !contains(github.event.*.labels.*.name, 'safe for build') && steps.is_organization_member.outputs.result == 'false' }}
        shell: bash
        run: |
          echo "Job failed due to user not being a member of Giskard-AI organization and the 'safe for build' label not being set on the PR"
          exit 1

      - name: Stop on security check failure
        if: ${{ github.event.workflow_run.conclusion == 'failure' }}
        shell: bash
        run: |
          echo "Job failed due to user not being a member of Giskard-AI organization and the 'safe for build' label not being set on the PR"
          exit 1

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Checkout code
        uses: actions/checkout@v3.1.0
      #        with:
      #          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Cache SonarQube packages
        uses: actions/cache@v3
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      - name: Cache Frontend dependencies
        uses: actions/cache@v3
        with:
          path: frontend/node_modules
          key: ${{ runner.os }}-frontend-${{ hashFiles('frontend/package-lock.json')}}
          restore-keys: ${{ runner.os }}-frontend

      - name: Cache Python dependencies
        uses: actions/cache@v3
        with:
          path: python-client/.venv
          key: ${{ runner.os }}-client-${{ hashFiles('python-client/poetry.lock')}}
          restore-keys: ${{ runner.os }}-client

      - name: "Python client: extract current package version"
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        uses: SebRollen/toml-action@v1.0.2
        id: read_toml
        with:
          file: 'python-client/pyproject.toml'
          field: 'tool.poetry.version'

      - name: Get current date
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        id: current_date
        env:
          TZ: Europe/Paris
        run: echo "CURRENT_DATE=$(date '+%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT

      - name: "Python client: set dev version"
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        uses: ciiiii/toml-editor@1.0.0
        with:
          file: "python-client/pyproject.toml"
          key: "tool.poetry.version"
          value: '${{ steps.read_toml.outputs.value }}.dev${{ steps.current_date.outputs.CURRENT_DATE }}'

      - name: Build
        run: ./gradlew build jacocoTestReport --info --parallel

      - name: Analyze with Sonar
        if: ${{ github.actor != 'dependabot[bot]' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: ./gradlew sonar --info --parallel

      - name: "Python client: archive built artifacts"
        if: ${{ steps.extract_branch.outputs.branch == 'main' }}
        uses: actions/upload-artifact@v3
        with:
          name: giskard-dev.whl
          path: python-client/dist/*whl
