name: Check safe to build
on:
  pull_request_target:
    branches:
      - main

jobs:
  build:
    name: Check safe to build
    runs-on: self-hosted
    steps:
      - name: Check if organization member
        id: is_organization_member
        uses: JamesSingleton/is-organization-member@1.0.0
        with:
          organization: Giskard-AI
          username: ${{ github.actor }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Ask to add the 'safe for build' label
        if: ${{ github.actor != 'dependabot[bot]' && steps.is_organization_member.outputs.result == false && !contains(github.event.*.labels.*.name, 'safe for build') }}
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Please add the 'safe for build' label in order to perform the sonar analysis!
      - name: Ask to add the 'safe for build' label
        if: ${{ github.actor != 'dependabot[bot]' && steps.is_organization_member.outputs.result == false && !contains(github.event.*.labels.*.name, 'safe for build') }}
        shell: bash
        run: |
          echo "Build interrupted due to previous failure"
          exit 1
