name: Nightly test
on:
  schedule:
    - cron: '0 1 * * *' # Always run at 1:00 a.m.
  workflow_dispatch:

jobs:
  call-full-ci:
    uses: ./.github/workflows/build-python.yml
    with:
      run-integration-tests: true
      use-cache: false