name: Post release - Push to Pipy 

on:
  repository_dispatch:
    types:
      - post-release
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check if organization member
        id: is_organization_member
        uses: JamesSingleton/is-organization-member@1.0.1
        with:
          organization: Giskard-AI
          username: ${{ github.actor }}
          token: ${{ secrets.GITHUB_TOKEN }}
      # - name: Interrupt job
      #   if: ${{ steps.is_organization_member.outputs.result == 'false' }}
      #   shell: bash
      #   run: |
      #     echo "Job failed due to user not being a member of Giskard-AI organization and the 'safe for build' label not being set on the PR"
      #     exit 1
      - name: Checkout code
        uses: actions/checkout@v4.1.0
        with:
          fetch-tags: true
          ref: ${{ github.event.client_payload.version  }}

      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.10'
          cache: false

      - name: Build wheel
        run: pdm build

      - name: Create Github Release
        id: github-release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.client_payload.version }}
          fail_on_unmatched_files: true
          generate_release_notes: true
          files: |
            dist/giskard-*.tar.gz
            dist/giskard-*.whl

      - name: Post to a Slack channel
        if: false
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          # Slack channel id, channel name, or user id to post message.
          # See also: https://api.slack.com/methods/chat.postMessage#channels
          channel-id: 'C02Q2772VEH'
          slack-message: "@channel New release: ${{  github.ref_name }} is being made !:tada:\nRelease notes there: ${{  steps.github-release.outputs.url }}"
          # For posting a rich message using Block Kit
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

      - name: Push to Pipy
        if: false
        run: pdm publish --no-build --username "${{ secrets.PIPY_USERNAME }}" --password "${{ secrets.PIPY_PASSWORD }}"
